{% extends 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block content %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color: rgb(32, 30, 30); color: blanchedalmond;">
  <form action="" method="POST" enctype="multipart/form-data" style="width: 90%; padding-left: 10%;">
    <h1 style="text-align: center; color: burlywood;">Create your Account</h1>
    <br>
    {% csrf_token %}
    {{ form.as_p }}
  <br>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign UP</button>
  </form>
</body>
</html>
{% endblock %}